body {
  background-color: hsl(0, 1%, 19%);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  font-size: 0.85rem;
}

.glow-heading {
  color: #e0e0e0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 720;
  letter-spacing: 0.13rem;
  text-shadow: 0 0 0.5rem #ffffff20;
  opacity: 0;
  animation: fadeInGlow 5s ease forwards;
}

@keyframes fadeInGlow {
  to {
    opacity: 1;
    text-shadow: 0 0 0.75rem #ffffff40, 0 0 1.25rem #ffffff20;
  }
}


#home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;   
  height: 50vh;            
  text-align: center;
  overflow: hidden; 
        
}
#welcome {
  font-size: 0.9rem; 
 text-align: center; 
  margin-top: 7rem;
  color:whitesmoke; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
  color:whitesmoke; 
  line-height: 1.65;
}

#welcome2 {
  text-align: center; 
  font-size: 0.77rem; 
  margin-bottom: 3rem;
  line-height: 1.6;
}

#home::before {
  content: '';
  background: url('20250416_114846.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.281rem) brightness(78%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  z-index: -1;
}



nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1.563rem;
  padding: 0.08rem 0;
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0.3rem;
  backdrop-filter: blur(2px);
  box-sizing: border-box;
}

nav button {
  padding: 0.5rem 0.75rem; 
  margin: 0.475rem;
  font-size: 0.67rem;
  background-color: darkslategray;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: bold;
}

nav button:hover {
  background-color: #004141fa;
}

nav button.active {
  background-color: #023d3d;
  color: white;
  font-weight: bold;
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2); 
  transform: scale(1.055);
}

.slide-in {
  position: relative;
  left: -50%;
  animation: slideIn 7s ease-out forwards;
}

@keyframes slideIn {
  to {
    left: 0;
  }
}


footer {
  color: whitesmoke;
  text-align: center;
  padding: 1.25rem; 
  font-size: 0.7rem; 
}

footer nav {
  text-align: center;
  margin-bottom: 1.25rem;
}

footer nav button {
  padding: 0.313rem 0.625rem;
  margin: 0.313rem;
  font-size: 0.525rem; 
  border: none;
  cursor: pointer;
  border-radius: none;
  font-weight: bold;
}

 

a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.7s ease;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:visited {
  color: #aaa;
}

a:active {
  color: #999;
}


@media  (min-width: 768px)
{
  
  body{
    font-size: 1rem;
  }
  .glow-heading{
    font-size: 2.1rem;
    letter-spacing: 0.17rem;
  }
  #welcome {
     font-size: 1.1rem;
     letter-spacing: o.35rem;
    margin-top: 9rem;
  }
  #welcome2 {
    font-size: 0.87rem;
  }
  
  nav {
    background-color: rgba(34, 34, 34, 0);
  border-top: none;
  border-bottom: none;
  }
  nav button{
    font-size: 0.7rem;
    padding:0.6rem 1rem;
  }

  footer {
    font-size: 0.7rem;
    padding:0rem;
  }
  #home::before {

    background-size: cover;
    background-position: center;
  }
  #home{
    height: 60vh;
  }
}

